title: '레진 기술 블로그'
email: tech@lezhin.com
description: '프리미엄 웹툰 서비스 - “레진코믹스” 를 만들고 있는 레진엔터테인먼트가 운영하는 기술 블로그입니다. 글로벌 콘텐츠 플랫폼을 만들면서 익힌 실전 경험과 정보, 최신 기술, 팁들을 공유하고 있습니다. 훌륭한 개발자님들을 계속 모시고 있으니 편하게 지원해주세요!'
url: 'http://tech.lezhin.com'
enforce_ssl: 'tech.lezhin.com'
baseurl: ''
image: '/assets/img/lezhin_social_image.png'
recruit_image: '/assets/img/lezhin_recruit.png'
timezone: Asia/Seoul
date_format: "%Y-%m-%d"

repository: lezhin/lezhin.github.io

permalink: /:year/:month/:day/:title

excerpt_separator: <!--more-->

markdown: kramdown

kramdown:
  input: GFM
  highlighter: rouge

gems:
  - jekyll-paginate

paginate: 5
paginate_path: "/pages/:num/"

exclude:
  - README.md
keep_files:
  - assets
  - files
asset_url: /assets

collections:
  authors:
    output: true
    permalink: /authors/:path/
  tags:
    output: true
    permalink: /tags/:path/

defaults:
  - scope:
      path: ''
      type: authors
    values:
      layout: author
  - scope:
      path: ''
      type: tags
    values:
      layout: tag
  - scope:
      path: 'events'
    values:
      layout: page
      sitemap: true
  - scope:
      path: 'recruit'
    values:
      layout: recruit
      sitemap: false

google_analytics_ua: UA-100323260-1
google_site_verification: 6Ff6VcvMN_e4o7B7ulEaWwR6w1gZKenhnBRLGMqOEoE
github_username: lezhin
twitter_username: LezhinTech
facebook_username: LezhinTech
