<header class="site-header">
    <div class="container">
        <h1 class="site-title"><i></i><a href="{{ site.url }}">{{ site.title }}</a></h1>
        <nav class="site-nav">
            {% assign current = page.url | downcase | split: '/' %}
            <a href="{{ site.baseurl }}/recruit/" {% if current[1]=='recruit' %}class="active"{% endif %}>채용</a>
            <a href="{{ site.baseurl }}/about/" {% if current[1]=='about' %}class="active"{% endif %}>소개</a>
        </nav>
    </div>
    <div class="clearfix"></div>
</header>
