<div class="share-buttons">
    <a class="fa fa-facebook plain"
       href="https://facebook.com/sharer.php?u={{ site.url }}{{ page.url }}"
       rel="nofollow" target="_blank" title="share on facebook"></a>
    <a class="fa fa-twitter plain"
       href="https://twitter.com/intent/tweet?text={{ page.title }}&url={{ site.url }}{{ page.url }}"
       rel="nofollow" target="_blank" title="share on twitter"></a>
    <a class="fa fa-google-plus plain"
       href="https://plus.google.com/share?url={{ site.url }}{{ page.url }}"
       rel="nofollow" target="_blank" title="share on google+"></a>
</div>
