.clearfix {
  zoom: 1;
  &:before, &:after {
    content: ' ';
    display: table;
  }

  &:after {
    clear: both;
  }
}

.sr-only {
  position: absolute;
  top: -9999px;
  left: -9999px
}

.pull-left {
  float: left !important;
}

.pull-left img {
  margin-right: 1em;
}

.pull-right {
  float: right !important;
}

.pull-right img {
  margin-left: 1em;
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}

.center {
  text-align: center;
}

.hcenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.vcenter {
  display: table;
  > * {
    display: table-cell;
    vertical-align: middle;
  }
}

.ellipsis {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
