---
layout: default
---
<div class="post">
    <header class="post-header">
        <h1 class="post-title">{{ page.title }}</h1>
        {% assign author = site.authors | where: 'name', page.author | first %}
        <div class="post-meta">
        {% if author.image %}
        <img class="post-author-image" src="{{ author.image }}" alt="{{post.author}}'s profile image"/>
        {% endif %}
        <p class="post-author"><i class="fa fa-user" title="author"></i> <a href="{{ site.baseurl }}/authors/{{ page.author }}">{{ page.author }}</a></p>
        <p class="post-date"><i class="fa fa-calendar" title="date"></i> {{ page.date | date: site.date_format }}</p>
        </div>
    </header>
    <article class="post-content">
        {{ content }}
    </article>
    <footer class="post-footer">
        {% include post_tags.html tags=page.tags %}
        {% include share_buttons.html %}
        {% include comments.html %}
    </footer>
</div>
